<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js">

<head>

    <meta charset="utf-8" />
    <title>登录(Login)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- CSS -->
    <link th:href="@{/static/vendors/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/static/css/login/reset.css}" />
    <link rel="stylesheet" th:href="@{/static/css/login/supersized.css}" />
    <link rel="stylesheet" th:href="@{/static/css/login/style.css}" />

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script th:src="@{/static/js/login/html5.js}"></script>
    <![endif]-->

</head>

<body>

<div class="container">
    <h1>后台管理系统</h1>
    <form id="form" class="col-xs-6 col-md-6 col-xs-offset-3 col-md-offset-3">
        <div class="form-group">
            <input id="username" type="text" name="name" class="username" placeholder="请输入您的用户名或邮箱！" />

        </div>

        <div class="form-group">
            <input id="password" type="password" name="password" class="password" placeholder="请输入您的用户密码！" />

        </div>

        <div class="form-group">
            <input id="captcha" type="Captcha" class="Captcha" name="captcha" placeholder="请输入验证码！" />
            <div class="code" id="code">
                <img style="width:20%;height:44px;display:inline;" id="kaptcha"
                     th:src="@{/kaptchaImage.jpg}" title="点击更换"
                     onclick="javascript:refreshCaptcha();"/>
            </div>
        </div>
        <!--onclick后面必须加return false，否则不跳转,
            在function中加上return false是無效的。必須在onclick中加上。
        -->
        <button id="submit_btn" type="submit" class="submit_button" onclick="btn_submit();return false;">登录</button>

        <div class="form-group row">
            <div class="error"><span>+</span></div>
            <div th:id="errormsg"> </div>
        </div>
    </form>



</div>

<!-- Javascript -->
<script th:src="@{/static/vendors/jquery/dist/jquery.min.js}" ></script>
<script th:src="@{/static/js/common.js}" ></script>
<script th:src="@{/static/js/login/supersized.3.2.7.min.js}" ></script>
<script th:src="@{/static/js/login/supersized-init.js}" ></script>
<script th:src="@{/static/js/login/scripts.js}" ></script>


</body>


</html>