<div xmlns:th="http://www.thymeleaf.org" class="no-js">
    <div th:fragment="flot-chats">


        <!-- Flot -->
        <script th:src="@{/static/vendors/Flot/jquery.flot.js}"></script>
        <script th:src="@{/static/vendors/Flot/jquery.flot.pie.js}"></script>
        <script th:src="@{/static/vendors/Flot/jquery.flot.time.js}"></script>
        <script th:src="@{/static/vendors/Flot/jquery.flot.stack.js}"></script>
        <script th:src="@{/static/vendors/Flot/jquery.flot.resize.js}"></script>
        <!-- Flot plugins -->
        <script th:src="@{/static/vendors/flot.orderbars/js/jquery.flot.orderBars.js}"></script>
        <script th:src="@{/static/vendors/flot-spline/js/jquery.flot.spline.min.js}"></script>
        <script th:src="@{/static/vendors/flot.curvedlines/curvedLines.js}"></script>

        <!-- Flot Charts JavaScript -->
        <script th:src="@{/static/vendors/Flot/excanvas.min.js}"></script>
        <script th:src="@{/static/vendors/flot-tooltip/jquery.flot.tooltip.min.js}"></script>
        <script th:src="@{/static/js/sbadmin2/data/flot-data.js}"></script>
    </div>
</div>